// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: orange;
  text-align: center;
}
h2 {
  background-color: red;
  color: white;
  padding: 30px;
  border-radius: 50px;
  text-decoration: none;
}
p {
  font-size: 20px;
}
.link {
  font-size: 40px;
  background-color: yellow;
  padding: 20px;
  margin-bottom: 80px;
  border-radius: 50px;
}
.link:hover {
  opacity: 0.5;
}
.container-fluid {
  padding: 40px;
}
.navbar-header {
  text-align: left;
  background-color: pink;
  padding: 10px;
  border-radius: 50px;
}
.navbar-right {
  text-align: right;
  color: white;
  background-color: aqua;
  padding: 10px;
  text-decoration: none;
  border-radius: 50px;
}
.ora {
  height: 250px;
}
