// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: orange;
  text-align: center;
}
h2 {
  background-color: red;
  color: white;
  padding: 30px;
  border-radius: 50px;
}
